In [223]:
import pandas as pd

In [224]:
df=pd.read_csv("al_cicids.csv")

In [225]:
df.describe()

c:\Users\Aleena\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
c:\Users\Aleena\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,...,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06,2.830743e+06
mean,8.071483e+03,1.478566e+07,9.361160e+00,1.039377e+01,5.493024e+02,1.616264e+04,2.075999e+02,1.871366e+01,5.820194e+01,6.891013e+01,...,5.418218e+00,-2.741688e+03,8.155132e+04,4.113412e+04,1.531825e+05,5.829582e+04,8.316037e+06,5.038439e+05,8.695752e+06,7.920031e+06
std,1.828363e+04,3.365374e+07,7.496728e+02,9.973883e+02,9.993589e+03,2.263088e+06,7.171848e+02,6.033935e+01,1.860912e+02,2.811871e+02,...,6.364257e+02,1.084989e+06,6.485999e+05,3.933815e+05,1.025825e+06,5.770923e+05,2.363008e+07,4.602984e+06,2.436689e+07,2.336342e+07
min,0.000000e+00,-1.300000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,-5.368707e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.300000e+01,1.550000e+02,2.000000e+00,1.000000e+00,1.200000e+01,0.000000e+00,6.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.000000e+00,2.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,8.000000e+01,3.131600e+04,2.000000e+00,2.000000e+00,6.200000e+01,1.230000e+02,3.700000e+01,2.000000e+00,3.400000e+01,0.000000e+00,...,1.000000e+00,2.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.430000e+02,3.204828e+06,5.000000e+00,4.000000e+00,1.870000e+02,4.820000e+02,8.100000e+01,3.600000e+01,5.000000e+01,2.616295e+01,...,2.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,6.553500e+04,1.200000e+08,2.197590e+05,2.919220e+05,1.290000e+07,6.554530e+08,2.482000e+04,2.325000e+03,5.940857e+03,7.125597e+03,...,2.135570e+05,1.380000e+02,1.100000e+08,7.420000e+07,1.100000e+08,1.100000e+08,1.200000e+08,7.690000e+07,1.200000e+08,1.200000e+08

In [226]:
columns=df.columns

In [227]:
print(columns)

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       ' Label'],
      dtype='object')

In [228]:
print(df.shape[1])

79

In [229]:
from sklearn.preprocessing import LabelEncoder

In [230]:
import numpy as np

In [231]:
df=df.sample(frac=1, random_state=42).reset_index(drop=True)

In [232]:
df.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,50545,232,1,1,0,0,0,0,0.000000,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,53,31226,2,2,68,380,34,34,34.000000,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,80,99951883,9,7,317,11595,317,0,35.222222,105.666667,...,32,999.0,0.0,999,999,99900000.0,0.0,99900000,99900000,DoS Hulk
3,53,30894,4,2,140,172,35,35,35.000000,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,53,48943,2,2,88,166,44,44,44.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [233]:
df.shape

(2830743, 79)

In [234]:
# Initialize LabelEncoder
le = LabelEncoder()

# Fit on Label column which contain attack categories
le.fit(df[' Label'])

# Get all classes
classes = list(le.classes_)

# Move benign to index 0
if 'BENIGN' in classes:
    classes.remove('BENIGN')
    classes = ['BENIGN'] + classes  # BENIGN first

# Create a mapping dictionary
label_mapping = {label: idx for idx, label in enumerate(classes)}

# Map attack_cat to numerical labels
df['label'] = df[' Label'].map(label_mapping)

print(label_mapping)
print(df[[' Label', 'label']].head())

{'BENIGN': 0, 'Bot': 1, 'DDoS': 2, 'DoS GoldenEye': 3, 'DoS Hulk': 4, 'DoS Slowhttptest': 5, 'DoS slowloris': 6, 'FTP-Patator': 7, 'Heartbleed': 8, 'Infiltration': 9, 'PortScan': 10, 'SSH-Patator': 11, 'Web Attack � Brute Force': 12, 'Web Attack � Sql Injection': 13, 'Web Attack � XSS': 14}
      Label  label
0    BENIGN      0
1    BENIGN      0
2  DoS Hulk      4
3    BENIGN      0
4    BENIGN      0

In [235]:
df.drop(' Label', axis=1, inplace=True)

In [236]:
#check for categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
print("Categorical columns (by dtype):", categorical_columns.tolist())

Categorical columns (by dtype): []

In [237]:
#obtaining a small fraction of the dataset - 10%
df=df.sample(frac=0.02, random_state=42).reset_index(drop=True)

In [238]:
df.to_csv("al.csv",index=False)

In [239]:
from sklearn.model_selection import train_test_split

In [240]:
# Count of each label
label_counts = df['label'].value_counts()
print(label_counts)

label
0     45590
4      4588
10     3145
2      2500
3       221
7       142
11      134
5       102
6       102
1        43
12       36
14       12
Name: count, dtype: int64

In [241]:
threshold = 100

In [242]:
# Find labels to keep
labels_to_keep = label_counts[label_counts >= threshold].index

# Filter
df_filtered = df[df['label'].isin(labels_to_keep)].reset_index(drop=True)

print("Remaining labels:", df_filtered['label'].value_counts())

Remaining labels: label
0     45590
4      4588
10     3145
2      2500
3       221
7       142
11      134
5       102
6       102
Name: count, dtype: int64

In [243]:
original_labels = {
    'BENIGN': 0,
    'Bot': 1,
    'DDoS': 2,
    'DoS GoldenEye': 3,
    'DoS Hulk': 4,
    'DoS Slowhttptest': 5,
    'DoS slowloris': 6,
    'FTP-Patator': 7,
    'Heartbleed': 8,
    'Infiltration': 9,
    'PortScan': 10,
    'SSH-Patator': 11,
    'Web Attack – Brute Force': 12,
    'Web Attack – Sql Injection': 13,
    'Web Attack – XSS': 14
}

In [244]:

remaining_labels = [0,4,10,2,3,7,6,5,11,1,12,14]

# Sort remaining_labels to keep original order
remaining_labels_sorted = sorted(remaining_labels)  

# Create new mapping: old_label to new_label
old_to_new = {old: new for new, old in enumerate(remaining_labels)}

# Create updated label names mapping: new_label to attack name
new_label_names = {new: [name for name, old in original_labels.items() if old == old_label][0]
                   for old_label, new in old_to_new.items()}

print("Old to New Label Mapping:", old_to_new)
print("New Label Names:", new_label_names)

Old to New Label Mapping: {0: 0, 4: 1, 10: 2, 2: 3, 3: 4, 7: 5, 6: 6, 5: 7, 11: 8, 1: 9, 12: 10, 14: 11}
New Label Names: {0: 'BENIGN', 1: 'DoS Hulk', 2: 'PortScan', 3: 'DDoS', 4: 'DoS GoldenEye', 5: 'FTP-Patator', 6: 'DoS slowloris', 7: 'DoS Slowhttptest', 8: 'SSH-Patator', 9: 'Bot', 10: 'Web Attack – Brute Force', 11: 'Web Attack – XSS'}

In [245]:
df['label'] = df['label'].map(old_to_new)

In [246]:
# Drop rows where label is NaN
df = df.dropna(subset=['label']).reset_index(drop=True)

In [247]:
# Save to new CSV
df.to_csv("al_l.csv", index=False)

In [248]:
#split the dataset into train and temp
train_df, temp_df = train_test_split(df, test_size=0.3, random_state=42, shuffle=True, stratify=df['label'])

In [249]:
#split the train set into test and validation
test_df, val_df = train_test_split(train_df, test_size=0.5, random_state=42, shuffle=True, stratify=train_df['label'])

In [250]:
#train_df,test_df,val_df preprocessing
#check for infinite values
print(np.isinf(train_df).sum().sum())

61

In [251]:
print(np.isinf(train_df['label']).sum())

0

In [252]:
#convert infinite values into nan
train_df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [253]:
print("Total nulls:", train_df.isnull().values.sum())

Total nulls: 80

In [254]:
print("Total nulls:", train_df['label'].isnull().values.sum())

Total nulls: 0

In [255]:
from sklearn.impute import SimpleImputer

In [256]:
imputer = SimpleImputer(strategy='mean')

In [257]:
train_df = imputer.fit_transform(train_df)

In [258]:
import joblib
joblib.dump(imputer,"imputer_alc.pkl")

['imputer_alc.pkl']

In [259]:
train_df = pd.DataFrame(train_df, columns=test_df.columns)

In [260]:
train_df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,9714.0,3.0,2.0,0.0,37.0,0.0,31.0,6.0,18.500000,17.677670,...,20.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,80.0,84905388.0,6.0,6.0,364.0,11595.0,364.0,0.0,60.666667,148.602378,...,32.0,1010.0,0.000,1010.0,1010.0,84800000.0,0.000000,84800000.0,84800000.0,1.0
2,80.0,5439951.0,3.0,1.0,12.0,0.0,6.0,0.0,4.000000,3.464102,...,20.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,56272.0,4.0,2.0,0.0,12.0,0.0,6.0,6.0,6.000000,0.000000,...,20.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,2107.0,3.0,2.0,0.0,4.0,0.0,2.0,2.0,2.000000,0.000000,...,24.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39625,13782.0,49.0,2.0,0.0,4.0,0.0,2.0,2.0,2.000000,0.000000,...,24.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
39626,80.0,85387225.0,10.0,6.0,680.0,11595.0,337.0,0.0,68.000000,141.787791,...,20.0,945.0,0.000,945.0,945.0,84200000.0,0.000000,84200000.0,84200000.0,1.0
39627,443.0,111172834.0,132.0,213.0,16327.0,364547.0,442.0,0.0,123.689394,177.958016,...,32.0,1096192.5,3388720.619,10700000.0,24111.0,10000000.0,9996.552993,10000000.0,9996778.0,0.0
39628,80.0,1320961.0,3.0,6.0,26.0,11607.0,20.0,0.0,8.666667,10.263203,...,20.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,3.0
39629,80.0,1822937.0,3.0,4.0,26.0,11607.0,20.0,0.0,8.666667,10.263203,...,20.0,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,0.0,3.0

In [261]:
print("Total nulls:", train_df.isnull().values.sum())

Total nulls: 0

In [262]:
train_df.shape

(39630, 79)

In [263]:
# Check for placeholder or empty-string values in X
for col in train_df.columns:
    unique_vals = train_df[col].unique()
    if '-' in unique_vals or '' in unique_vals:
        print(f"Column {col} has '-' or empty values")

In [264]:
#check for duplicates
print("Duplicates:",train_df.duplicated().sum())

Duplicates: 1169

In [265]:
# Drop duplicates
train_df = train_df.drop_duplicates()

In [266]:
# Split into features (X) and label (y)
X = train_df.drop('label', axis=1)
y = train_df['label']

In [267]:
#check for duplicates
print("Duplicates:",X.duplicated().sum())

Duplicates: 1

In [268]:
duplicates_mask = X.duplicated(keep='first')
X = X[~duplicates_mask].reset_index(drop=True)
y = y[~duplicates_mask].reset_index(drop=True)

In [269]:
#check for duplicates
print("Duplicates:",X.duplicated().sum())

Duplicates: 0

In [270]:
df_new = X.copy()       # copy X to preserve original
df_new['label'] = y

In [271]:
# Save to CSV
df_new.to_csv("pre_ctrain.csv", index=False)

In [272]:
#test_df preprocessing
#check for infinite values
print(np.isinf(test_df).sum().sum())

34

In [273]:
print(np.isinf(test_df['label']).sum())

0

In [274]:
#convert infinite values into nan
test_df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [275]:
print("Total nulls:", test_df.isnull().values.sum())

Total nulls: 42

In [276]:
print("Total nulls:", test_df['label'].isnull().values.sum())

Total nulls: 0

In [277]:
test_df = imputer.transform(test_df)

In [278]:
test_df = pd.DataFrame(test_df, columns=train_df.columns)

In [279]:
test_df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,50914.0,1592.0,2.0,1.0,12.0,6.0,6.0,6.0,6.000000,0.000000,...,20.0,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.0
1,80.0,95972099.0,4.0,6.0,332.0,11595.0,326.0,0.0,83.000000,162.024689,...,20.0,0.000000,0.000000,0.0,0.0,9.600000e+07,0.000000,96000000.0,96000000.0,1.0
2,443.0,115368555.0,24.0,20.0,857.0,13963.0,393.0,0.0,35.708333,88.124654,...,20.0,47308.090910,106664.651900,368914.0,14974.0,1.000000e+07,6665.073522,10000000.0,9995194.0,0.0
3,443.0,65329608.0,15.0,12.0,1014.0,4143.0,630.0,0.0,67.600000,165.073490,...,20.0,97847.833333,115349.005307,333303.0,50733.0,9.996196e+06,10080.395576,10000931.0,9975643.0,0.0
4,53.0,30970.0,1.0,1.0,47.0,105.0,47.0,47.0,47.000000,0.000000,...,32.0,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19810,443.0,5939762.0,8.0,6.0,390.0,4084.0,209.0,0.0,48.750000,77.135780,...,20.0,117131.000000,0.000000,117131.0,117131.0,5.822628e+06,0.000000,5822628.0,5822628.0,0.0
19811,53.0,30671.0,1.0,1.0,58.0,139.0,58.0,58.0,58.000000,0.000000,...,32.0,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.0
19812,80.0,115574512.0,18.0,16.0,956.0,1504.0,433.0,0.0,53.111111,138.212066,...,20.0,81835.000000,146977.787000,524931.0,36281.0,9.998797e+06,12938.925240,10000000.0,9962392.0,0.0
19813,54399.0,32801.0,2.0,1.0,280.0,6.0,274.0,6.0,140.000000,189.504617,...,20.0,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.0
19814,53.0,171.0,2.0,2.0,66.0,386.0,33.0,33.0,33.000000,0.000000,...,20.0,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.0

In [280]:
print("Total nulls:", test_df.isnull().values.sum())

Total nulls: 0

In [281]:
test_df.shape

(19815, 79)

In [282]:
# Check for placeholder or empty-string values in X
for col in test_df.columns:
    unique_vals = test_df[col].unique()
    if '-' in unique_vals or '' in unique_vals:
        print(f"Column {col} has '-' or empty values")

In [283]:
#check for duplicates
print("Duplicates:",test_df.duplicated().sum())

Duplicates: 497

In [284]:
# Drop duplicates
test_df = test_df.drop_duplicates()

In [285]:
# Split into features (X) and label (y)
X = test_df.drop('label', axis=1)
y = test_df['label']

In [286]:
#check for duplicates
print("Duplicates:",X.duplicated().sum())

Duplicates: 0

In [287]:
duplicates_mask = X.duplicated(keep='first')
X = X[~duplicates_mask].reset_index(drop=True)
y = y[~duplicates_mask].reset_index(drop=True)

In [288]:
df_new = X.copy()       # copy X to preserve original
df_new['label'] = y

In [289]:
# Save to CSV
df_new.to_csv("pre_ctest.csv", index=False)

In [290]:
#val_df preprocessing
#check for infinite values
print(np.isinf(val_df).sum().sum())

27

In [291]:
print(np.isinf(val_df['label']).sum())

0

In [292]:
#convert infinite values into nan
val_df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [293]:
print("Total nulls:", val_df.isnull().values.sum())

Total nulls: 38

In [294]:
print("Total nulls:", val_df['label'].isnull().values.sum())

Total nulls: 0

In [295]:
val_df = imputer.transform(val_df)

In [296]:
val_df = pd.DataFrame(val_df, columns=train_df.columns)

In [297]:
val_df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,54040.0,4.0,2.0,0.0,31.0,0.0,31.0,0.0,15.500000,21.920310,...,32.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,443.0,2.0,2.0,0.0,12.0,0.0,6.0,6.0,6.000000,0.000000,...,20.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,53.0,206.0,2.0,2.0,90.0,196.0,45.0,45.0,45.000000,0.000000,...,32.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,443.0,117927417.0,16.0,15.0,1589.0,6113.0,924.0,0.0,99.312500,227.407335,...,20.0,181828.5,132966.4805,275850.0,87807.0,58700000.0,249054.322000,58900000.0,58600000.0,0.0
4,53562.0,40.0,2.0,0.0,12.0,0.0,6.0,6.0,6.000000,0.000000,...,20.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19810,9040.0,83.0,1.0,1.0,2.0,6.0,2.0,2.0,2.000000,0.000000,...,24.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,2.0
19811,443.0,87022.0,5.0,2.0,24.0,0.0,6.0,0.0,4.800000,2.683282,...,20.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
19812,808.0,55.0,1.0,1.0,0.0,6.0,0.0,0.0,0.000000,0.000000,...,40.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,2.0
19813,53.0,69216.0,1.0,1.0,41.0,118.0,41.0,41.0,41.000000,0.000000,...,20.0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
19814,80.0,117987470.0,312.0,424.0,14792.0,866609.0,1088.0,0.0,47.410256,212.352642,...,32.0,249205.0,748131.0616,2504905.0,23472.0,10000000.0,7257.080973,10000000.0,10000000.0,0.0

In [298]:
print("Total nulls:", val_df.isnull().values.sum())

Total nulls: 0

In [299]:
val_df.shape

(19815, 79)

In [300]:
# Check for placeholder or empty-string values in X
for col in val_df.columns:
    unique_vals = val_df[col].unique()
    if '-' in unique_vals or '' in unique_vals:
        print(f"Column {col} has '-' or empty values")

In [301]:
#check for duplicates
print("Duplicates:",val_df.duplicated().sum())

Duplicates: 532

In [302]:
# Drop duplicates
val_df = val_df.drop_duplicates()

In [303]:
# Split into features (X) and label (y)
X = val_df.drop('label', axis=1)
y = val_df['label']

In [304]:
#check for duplicates
print("Duplicates:",X.duplicated().sum())

Duplicates: 1

In [305]:
duplicates_mask = X.duplicated(keep='first')
X = X[~duplicates_mask].reset_index(drop=True)
y = y[~duplicates_mask].reset_index(drop=True)

In [306]:
#check for duplicates
print("Duplicates:",X.duplicated().sum())

Duplicates: 0

In [307]:
df_new = X.copy()       # copy X to preserve original
df_new['label'] = y

In [308]:
# Save to CSV
df_new.to_csv("pre_cval.csv", index=False)